:root {
  --navbar-height: 3rem;
}

.navbar {
  padding-left: var(--spacing-3);

  width: var(--maxWidth-full);
  height: var(--navbar-height);

  background-color: var(--color-gray);

}

.navbar h1 {
  margin: var(--spacing-0);
  line-height: var(--navbar-height);
  font-size: var(--fontSize-2);

  text-shadow: 2px 1px 0 var(--color-black), 3px 1.5px 1px var(--color-black);
}

.navbar a {
  color: var(--color-primary);
}
