.wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-0) var(--spacing-5) var(--spacing-10) var(--spacing-5);
}

.footer {
  color: var(--color-gray);
}
